<div class="d-flex text-nowrap align-items-center">
  <div class="col-6 col-sm-3 col-lg-2 fw-semibold fs-6 gap-1_5">
    Recently active leads
  </div>
  <input
    type="text"
    class="col-6 col-sm-3 col-lg-2 rounded-pill border border-light-subtle fs-0_9 search-box"
    placeholder="Search Leads"
    aria-label="Example text with button addon"
    aria-describedby="button-addon1"
    [(ngModel)]="searchInput"
    (ngModelChange)="onSearch($event)"
  />
</div>
<div class="table-responsive-lg mt-0_75">
  <table class="table text-nowrap">
    <thead>
      <tr>
        <th class="fw-bold fs_75" *ngFor="let header of tableHeaders">
          {{ header }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr class="fw-semibold fs-0_9" *ngFor="let lead of filteredListSig()">
        <td class="d-flex align-items-center">
          <ng-container *ngIf="lead.organization.logo as logo; else blank">
            <img [src]="logo" alt="logo" class="mr-0_75" />
          </ng-container>
          {{ lead.name }}
        </td>
        <td>{{ lead.created_on }}</td>
        <td>{{ lead.current_stage.name }}</td>
        <td>
          <span
            class="badge rounded-pill"
            [appProbabilityBadge]="lead.probability"
          ></span>
        </td>
        <td>{{ lead.organization.team_size }}</td>
        <td>{{ lead.organization.country }}</td>
        <td>{{ lead.organization.revenue }}</td>
        <td>{{ lead.category.name }}</td>
      </tr>
    </tbody>
  </table>
</div>
<ng-template #blank>
  <div class="bg-secondary-subtle rounded mr-0_75 blank-container"></div>
</ng-template>
