.high-probability {
  background-color: #c9ecdc;
  color: #3c7e60;
}

.medium-probability {
  background-color: #f9d8f8;
  color: #853282;
}

.low-probability {
  background-color: #f8cdd9;
  color: #8e4358;
}
