<div class="d-flex text-nowrap align-items-center" style="gap: 1.5rem">
  <div class="col-2 fw-semibold fs-6">Recently active leads</div>
  <input
    type="text"
    class="col-2 rounded-pill border border-light-subtle"
    placeholder="Search Leads"
    aria-label="Example text with button addon"
    aria-describedby="button-addon1"
    style="font-size: 0.9rem; padding: 0.2rem 1rem"
  />
</div>
<div class="table-responsive-lg" style="margin-top: 0.75rem">
  <table class="table text-nowrap">
    <thead>
      <tr>
        <th
          class="fw-bold"
          style="font-size: 0.75rem"
          *ngFor="let header of tableHeaders"
        >
          {{ header }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr
        class="fw-semibold"
        style="font-size: 0.9rem"
        *ngFor="let lead of recentlyActiveLeads"
      >
        <td class="d-flex align-items-center">
          <ng-container *ngIf="lead.organization.logo as logo; else blank">
            <img [src]="logo" alt="logo" style="margin-right: 0.75rem" />
          </ng-container>
          {{ lead.organization.name }}
        </td>
        <td>{{ lead.created_on }}</td>
        <td>{{ lead.current_stage.name }}</td>
        <td>
          <span
            class="badge rounded-pill"
            [appProbabilityBadge]="lead.probability"
          ></span>
        </td>
        <td>{{ lead.organization.team_size }}</td>
        <td>{{ lead.organization.country }}</td>
        <td>{{ lead.organization.revenue }}</td>
        <td>{{ lead.category.name }}</td>
      </tr>
    </tbody>
  </table>
</div>
<ng-template #blank>
  <div
    style="width: 1.5rem; aspect-ratio: 1; margin-right: 0.75rem"
    class="bg-secondary-subtle rounded"
  ></div>
</ng-template>
