:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.image-wrapper {
  background-image: url(../../assets/login-static-background.png);
}

img {
  width: min-content;
  max-width: 100%;
}

.password-container {
  position: relative;
}

.reset-button {
  position: absolute;
  right: 1.5%;
  top: 55%;
  cursor: pointer;
}
