<div class="container-fluid">
  <div class="row">
    <div
      class="col image-wrapper d-xl-flex d-xxl-flex flex-column d-none"
      style="padding: 6rem 0 0 6rem"
    >
      <img style="margin-bottom: 2.5rem" src="../../assets/meta-logo.png" />
      <div class="h1 fw-bold text-white">All I need to tell you is Listen</div>
      <div class="fw-medium fs-6 text-white">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </div>
      <div class="mt-5">
        <img src="../../assets/safari-search-bar.png" />
        <img src="../../assets/dashboard-snap.png" />
      </div>
    </div>
    <div
      class="col d-flex flex-column justify-content-center"
      style="padding: 0 5.5rem"
    >
      <div class="h1 fw-bold">Welcome!</div>

      <div class="text-body-secondary fw-medium fs-6">
        Login with username and password
      </div>

      <form [formGroup]="loginForm" style="margin-top: 2.5rem">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label fw-medium fs-6"
            >Email address</label
          >
          <input
            type="email"
            class="form-control"
            id="email"
            formControlName="email"
            aria-describedby="emailHelp"
          />
        </div>
        <div class="mb-2">
          <label for="exampleInputPassword1" class="form-label fw-medium fs-6"
            >Password</label
          >
          <input
            formControlName="password"
            type="password"
            class="form-control"
            id="password"
          />
        </div>

        <div class="d-grid mt-5">
          <button
            [disabled]="disableLogin || !loginForm.valid"
            class="btn btn-primary"
            type="button"
            (click)="onLogin()"
          >
            Login
          </button>
        </div>
      </form>
      <div class="fw-medium fs-6 mt-3 text-center">
        Don’t have an account?<a routerLink="/login"> Signup</a>
      </div>
    </div>
  </div>
</div>
