<div class="container-fluid">
  <div class="row">
    <div
      class="col-6 container__static d-lg-flex l-md-flex d-sm-flex d-xl-flex d-xxl-flex flex-column d-none"
    >
      <img class="mb-2_5" src="assets/meta-logo.png" alt="meta-logo" />
      <div class="h1 fw-bold text-white">All I need to tell you is Listen</div>
      <div class="fw-medium fs-6 text-white">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </div>
      <div class="mt-5">
        <img src="assets/safari-search-bar.png" alt="safari-search" />
        <img src="assets/dashboard-snap.png" alt="dashboard" />
      </div>
    </div>
    <div
      class="col col-sm-6 d-flex flex-column justify-content-center container__form"
    >
      <div class="h1 fw-bold">Welcome!</div>

      <div class="text-body-secondary fw-medium fs-6">
        Login with username and password
      </div>

      <form [formGroup]="loginForm" class="mt-2_5">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label fw-medium fs-6"
            >Email address</label
          >
          <input
            type="email"
            class="form-control"
            id="email"
            formControlName="email"
            aria-describedby="emailHelp"
          />
        </div>
        <div class="mb-2 password-container">
          <label for="exampleInputPassword1" class="form-label fw-medium fs-6"
            >Password</label
          >
          <input
            formControlName="password"
            type="password"
            class="form-control"
            id="password"
          />
          <span class="reset-button fw-semibold fs-6 text-primary"
            >Reset Password</span
          >
        </div>

        <div class="d-grid mt-5">
          <button
            [disabled]="disableLogin || !loginForm.valid"
            class="btn btn-primary"
            type="button"
            (click)="onLogin()"
          >
            Login
          </button>
        </div>
      </form>
      <div class="fw-medium fs-6 mt-3 text-center">
        Don’t have an account?<a
          routerLink="/login"
          class="link-underline-primary"
        >
          Signup</a
        >
      </div>
    </div>
  </div>
</div>
