:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  &__static {
    background-image: url(../../assets/login-static-background.png);
    padding: 6rem 0 0 6rem;
  }

  &__form {
    padding: 0 5.5rem;
  }
}

img {
  width: min-content;
  max-width: 100%;
}

.password-container {
  position: relative;
}

.reset-button {
  position: absolute;
  right: 1.5%;
  top: 55%;
  cursor: pointer;
}
