img {
  width: 35px;
}

.circle {
  clip-path: circle();
}

.circle-icon {
  color: #35383e;
  cursor: pointer;
}

.container__searchBox {
  background-color: #35383e;
}

input {
  border: none !important;
  background-color: inherit;
  width: 70%;

  &:focus {
    outline: none !important;
    background-color: inherit;
    box-shadow: none;
  }
}
