<nav class="navbar navbar-expand-md bg-dark" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/"
      ><img src="assets/meta-logo.png"
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/"
            >Dashboard</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" routerLink="/">Leads</a>
        </li>
      </ul>
      <div class="d-flex ms-auto me-auto">
        <input
          type="text"
          class="form-control rounded-pill me-3"
          placeholder="Search Leads"
          aria-label="Example text with button addon"
          aria-describedby="button-addon1"
        />
        <button type="button" class="btn btn-primary rounded-pill text-nowrap">
          + Add Leads
        </button>
      </div>
      <div
        class="icon-wrapper d-flex my-3 my-3 my-md-0"
        *ngIf="userDetails$ | async as userDetails"
      >
        <img class="circle me-2" [src]="userDetails.image" />
        <div class="user-details d-flex flex-column me-3">
          <div class="text-white fw-medium fs-6">
            {{ userDetails.first_name + ' ' + userDetails.last_name }}
          </div>
          <div style="font-size: 0.75rem" class="text-white fw-medium">
            {{ userDetails.email }}
          </div>
        </div>
        <div
          style="color: #35383e"
          class="settings circle bg-secondary p-2 d-flex justify-content-center align-items-center me-2"
        >
          <i class="bi bi-gear text-white"></i>
        </div>
        <div
          (click)="logout()"
          style="color: #35383e; cursor: pointer"
          class="logout circle bg-secondary p-2 d-flex justify-content-center align-items-center"
        >
          <i class="bi bi-box-arrow-right text-white"></i>
        </div>
      </div>
    </div>
  </div>
</nav>
