<div
  class="progress h-100 position-relative bg-container"
  role="progressbar"
  aria-label="Basic example"
  aria-valuemin="0"
  aria-valuemax="100"
>
  <div
    class="progress-bar"
    [ngStyle]="{
      'background-color': probabilityDetails.color,
      width: probabilityDetails.probability
    }"
  ></div>
  <div class="container-fluid h-100 position-absolute">
    <div
      class="row text-center text-nowrap h-100 align-items-center w-100 fw-bold"
    >
      <div class="col-2 fs-1_1">
        {{ probabilityDetails.probability }}
      </div>
      <div class="col-4 fs-0_9">
        {{ probabilityDetails.desc }}
      </div>
      <div class="col-2 offset-4 fs-1_1">
        {{ (probabilityDetails.leads | number : '2.0-0') + ' Leads' }}
      </div>
    </div>
  </div>
</div>
