<p class="fw-semibold fs-6">Graph</p>
<div
  style="
    background-color: #ffffff;
    height: 251px;
    padding: 1.3rem;
    padding-right: 0;
  "
  class="container"
>
  <div class="row" style="height: 80%">
    <div class="d-flex flex-column col-1 justify-content-between h-100">
      <p class="m-0">10</p>
      <p class="m-0">20</p>
      <p class="m-0">30</p>
      <p class="m-0">40</p>
    </div>
    <div
      class="col-1 align-self-end"
      style="height: 50%; background-color: #d3dffb"
    ></div>
    <div
      class="col-1 offset-1 align-self-end"
      style="height: 50%; background-color: #a7bff4"
    ></div>
    <div
      class="col-1 offset-1 align-self-end"
      style="height: 50%; background-color: #7c9ef2"
    ></div>
    <div
      class="col-1 offset-1 align-self-end"
      style="height: 50%; background-color: #507eec"
    ></div>
    <div
      class="col-1 offset-1 align-self-end"
      style="height: 50%; background-color: #3454cf"
    ></div>
  </div>
  <div class="row fw-bold text-center" style="height: 20%; font-size: 0.75rem">
    <div class="col-1 offset-1 d-flex justify-content-center">Contact made</div>
    <div class="col-1 offset-1 d-flex justify-content-center">
      Initial interest
    </div>
    <div class="col-1 offset-1 d-flex justify-content-center">
      First intro meeting
    </div>
    <div class="col-1 offset-1 d-flex justify-content-center">
      Follow up meeting
    </div>
    <div class="col-1 offset-1 d-flex justify-content-center">
      Workshop stage
    </div>
  </div>
</div>
