<p class="fw-semibold fs-6">Graph</p>
<div class="container">
  <div class="row h-80">
    <div class="d-flex flex-column col-1 justify-content-between h-100">
      <p *ngFor="let domain of graphDomains" class="m-0">{{ domain }}</p>
    </div>
    <div
      *ngFor="let stage of graphData"
      [appGraphBar]="stage"
      [maxDomain]="graphDomains[0]"
      [ngClass]="{ 'offset-1': stage.stage_name !== 'Contact Made' }"
      class="col-1 align-self-end"
    ></div>
  </div>
  <div class="row fw-bold text-center fs_75 h-20">
    <div
      class="col-1 offset-1 d-flex justify-content-center"
      *ngFor="let stage of graphData"
    >
      {{ stage.stage_name }}
    </div>
  </div>
</div>
