.bg-container {
  background-color: #ffffff;
}

.container {
  background-color: #ffffff;
  height: 251px;
  padding: 1.3rem;
  padding-right: 0;
}

.h-80 {
  height: 80%;
}

.h-20 {
  height: 20%;
}
