<p class="fw-semibold fs-6">Active leads status</p>
<div
  class="d-flex justify-content-between flex-column flex-sm-row flex-md-row flex-lg-row flex-xl-row flex-xxl-row"
  style="gap: 1.2rem"
>
  <div *ngFor="let status of activeLeadStatus$ | async" class="card w-100">
    <div class="card-body">
      <p style="font-size: 1.1rem" class="fw-medium m-0">{{ status.name }}</p>
      <p class="fw-bold fs-4 m-0">{{ status.lead_count }}</p>
    </div>
  </div>
  <!-- <div class="card w-100">
    <div class="card-body">
      <p style="font-size: 1.1rem" class="fw-medium m-0">{{status.name}}</p>
      <p class="fw-bold fs-4 m-0">{{status.lead_count}}</p>
    </div>
  </div>
  <div class="card w-100">
    <div class="card-body">
      <p style="font-size: 1.1rem" class="fw-medium m-0">Initial interest</p>
      <p class="fw-bold fs-4 m-0">1</p>
    </div>
  </div>
  <div class="card w-100">
    <div class="card-body">
      <p style="font-size: 1.1rem" class="fw-medium m-0">Contact Made</p>
      <p class="fw-bold fs-4 m-0">1</p>
    </div>
  </div>
  <div class="card w-100">
    <div class="card-body">
      <p style="font-size: 1.1rem" class="fw-medium m-0">Contact Made</p>
      <p class="fw-bold fs-4 m-0">1</p>
    </div>
  </div>
  <div class="card w-100">
    <div class="card-body fw-medium" style="font-size: 1.1rem">
      <p style="font-size: 1.1rem" class="fw-medium m-0">Contact Madea</p>
      <p class="fw-bold fs-4 m-0">1</p>
    </div>
  </div> -->
</div>
