/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@500;600;700&display=swap');

html {
  @media only screen and (max-width: 1200px) {
    font-size: 75%;
  }
  @media only screen and (max-width: 768px) {
    font-size: 62.5%;
  }
  @media only screen and (max-width: 576px) {
    font-size: 50%;
  }
}

:root {
  --bs-body-font-family: 'Urbanist', sans-serif;
}

.mt-2_5 {
  margin-top: 2.5rem;
}

.mb-2_5 {
  margin-bottom: 2.5rem;
}

.fs_75 {
  font-size: 0.75rem;
}

.fs-1_1 {
  font-size: 1.1rem;
}

.fs-0_9 {
  font-size: 0.9rem;
}
