<h2 class="fw-bold">Welcome to Lead tracker!</h2>
<div
  class="container"
  style="margin-top: 2rem"
  *ngIf="graphDetails$ | async as graphDetails"
>
  <div class="row">
    <div
      class="col-12 col-sm-8 col-md-6 col-xl-4 container m-0 rounded-pill"
      style="background-color: #ffffff"
    >
      <div class="row">
        <ng-container *ngFor="let tab of tabsList">
          <div
            class="col-4 fw-semibold fs-6 mt-auto mb-auto cursor-pointer ms-auto me-auto text-center"
            style="cursor: pointer"
            (click)="onSelectingTab(tab)"
            *ngIf="tabSelectedSig() !== tab"
          >
            {{ tab | stageTypeCount : graphDetails.stage_type_count }}
          </div>
          <div
            class="card-text col-4 fw-semibold fs-6 btn btn-primary rounded-pill"
            *ngIf="tabSelectedSig() === tab"
          >
            {{ tab | stageTypeCount : graphDetails.stage_type_count }}
          </div>
        </ng-container>
      </div>
    </div>
  </div>
  <div style="margin-top: 2.5rem" class="row">
    <ng-container *ngIf="probabilityDetails$ | async as probabilityDetails">
      <app-probabilities
        [probabilityDetails]="probabilityDetails"
        class="col-lg-5"
      ></app-probabilities>
    </ng-container>
    <app-graph [graphDetails]="graphDetails.graph" class="col-lg-7"></app-graph>
  </div>
  <div
    *ngIf="tabSelectedSig() === tabs.ACTIVE"
    style="margin-top: 2.5rem"
    class="row"
  >
    <app-active-lead-status></app-active-lead-status>
  </div>
  <div style="margin-top: 2.5rem" class="row">
    <ng-container *ngIf="recentlyActiveLeads$ | async as recentLeads">
      <app-active-leads [recentlyActiveLeads]="recentLeads"></app-active-leads>
    </ng-container>
  </div>
</div>
