<h2 class="fw-bold">Welcome to Lead tracker!</h2>
<div class="container" style="margin-top: 2rem">
  <div class="row">
    <!-- <div class="card col-4 rounded-pill p-0">
      <div
        class="card-body d-flex justify-content-between p-0 align-items-center"
      >
        <div class="card-text fw-semibold fs-6 btn btn-primary rounded-pill">
          Active
        </div>
        <div class="card-text fw-semibold fs-6">Won</div>
        <div class="card-text fw-semibold fs-6 me-2">Lost</div>
      </div>
    </div> -->
    <div
      class="col-4 container m-0 rounded-pill"
      style="background-color: #ffffff"
    >
      <div class="row">
        <ng-container *ngFor="let tab of tabsList">
          <div
            class="col-4 fw-semibold fs-6 mt-auto mb-auto cursor-pointer ms-auto me-auto text-center"
            style="cursor: pointer"
            (click)="onSelectingTab(tab)"
            *ngIf="tabSelectedSig() !== tab"
          >
            {{ tab }}
          </div>
          <div
            class="card-text col-4 fw-semibold fs-6 btn btn-primary rounded-pill"
            *ngIf="tabSelectedSig() === tab"
          >
            {{ tab }}
          </div>
        </ng-container>
        <!-- <div
          class="col-4 fw-semibold fs-6"
          *ngIf="tabSelectedSig() !== tabs.ACTIVE"
        >
          Active
        </div>
        <div
          class="card-text col-4 fw-semibold fs-6 btn btn-primary rounded-pill"
          *ngIf="tabSelectedSig() === tabs.ACTIVE"
        >
          Active
        </div>
        <div class="col-4 fw-semibold fs-6 mt-auto mb-auto">Won</div>
        <div class="col-4 fw-semibold fs-6 mt-auto mb-auto">Lost</div> -->
      </div>
    </div>
  </div>
</div>
